<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h2>

	<%= @name.name %> - <%= @email.email %> wrote:
	</h2>
	<p>
	<%= @content.content %>
	</p>
 </body>
</html>